<a href="https://colab.research.google.com/github/PiKoz360/test_ml/blob/main/02_analiza_danych/03_zapis_odczyt_csv_xlsx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* @author: krakowiakpawel9@gmail.com  
* @site: e-smartdata.org

### Pandas
>Strona biblioteki: [https://pandas.pydata.org/](https://pandas.pydata.org/)  
>Dokumentacja: [https://pandas.pydata.org/pandas-docs/stable/](https://pandas.pydata.org/pandas-docs/stable/)
>
>Podstawowa biblioteka do analizy danych w języku Python.
>
>Aby zainstalować bibliotekę Pandas użyj polecenia poniżej:
```
pip install pandas
```
### Spis treści:
1. [Import bibliotek](#a1)
2. [Załadowanie danych](#a2)
3. [Zapis/Odczyt danych z pliku CSV](#a3)
4. [London Bike Dataset](#a4)

### <a name='a1'></a> Import bibliotek

In [1]:
import numpy as np
import pandas as pd

### <a name='a2'></a> Załadowanie danych

In [3]:
def fetch_financial_data(company='META'):
    """
    This function fetch stock market quotations.
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

df = fetch_financial_data('META')
df.head()

              Open      High     Low   Close    Volume
Date
2024-08-02  489.00  501.1450  476.15  488.14  24044658
2024-08-01  521.00  527.1709  492.10  497.74  43083082
2024-07-31  471.02  476.5000  466.75  474.83  24285777
2024-07-30  467.00  472.7300  456.70  463.19  11390439
2024-07-29  469.88  473.9600  465.02  465.71  11339630

### <a name='a3'></a> Zapis/Odczyt danych z pliku CSV

In [4]:
df.to_csv('fb.csv')

In [5]:
df_nov = df[(df.index.month == 11) & (df.index.year == 2019)]
df_nov

               Open     High      Low   Close    Volume
Date
2019-11-29  201.600  203.800  201.210  201.64   7985231
2019-11-27  199.900  203.140  199.420  202.00  12729462
2019-11-26  200.000  200.150  198.039  198.97  11748664
2019-11-25  199.515  200.970  199.250  199.79  15286442
2019-11-22  198.380  199.300  197.620  198.82   9959817
2019-11-21  197.420  199.090  196.860  197.93  12130985
2019-11-20  198.580  199.590  195.430  197.51  12370240
2019-11-19  197.400  200.000  196.860  199.32  19070291
2019-11-18  194.560  198.630  193.050  197.40  16176107
2019-11-15  194.260  195.300  193.380  195.10  11530232
2019-11-14  192.930  194.030  191.450  193.15   9059897
2019-11-13  194.700  195.700  192.740  193.19  11009800
2019-11-12  190.000  195.060  189.740  194.47  17615454
2019-11-11  189.930  190.080  188.540  189.61   8637768
2019-11-08  190.000  192.340  189.700  190.84  10764784
2019-11-07  191.910  193.440  189.470  190.42  13472998
2019-11-06  194.030  194.370  191.350  191.55  10973019
2019-11-05  195.370  195.750  193.600  194.32   9941954
2019-11-04  194.550  197.367  193.812  194.72  16371292
2019-11-01  192.850  194.110  189.910  193.62  21711829

In [ ]:
df_nov.to_csv('fb_nov.csv')

In [ ]:
new_df = pd.read_csv('fb_nov.csv', index_col=0)
new_df

               Open     High      Low   Close    Volume
Date
2019-11-29  201.600  203.800  201.210  201.64   7985231
2019-11-27  199.900  203.140  199.420  202.00  12729462
2019-11-26  200.000  200.150  198.039  198.97  11748664
2019-11-25  199.515  200.970  199.250  199.79  15286442
2019-11-22  198.380  199.300  197.620  198.82   9959817
2019-11-21  197.420  199.090  196.860  197.93  12130985
2019-11-20  198.580  199.590  195.430  197.51  12370240
2019-11-19  197.400  200.000  196.860  199.32  19070291
2019-11-18  194.560  198.630  193.050  197.40  16176107
2019-11-15  194.260  195.300  193.380  195.10  11530232
2019-11-14  192.930  194.030  191.450  193.15   9059897
2019-11-13  194.700  195.700  192.740  193.19  11009800
2019-11-12  190.000  195.060  189.740  194.47  17615454
2019-11-11  189.930  190.080  188.540  189.61   8637768
2019-11-08  190.000  192.340  189.700  190.84  10764784
2019-11-07  191.910  193.440  189.470  190.42  13472998
2019-11-06  194.030  194.370  191.350  191.55  10973019
2019-11-05  195.370  195.750  193.600  194.32   9941954
2019-11-04  194.550  197.367  193.812  194.72  16371292
2019-11-01  192.850  194.110  189.910  193.62  21711829

In [ ]:
df_nov.to_excel('fb_nov.xlsx')

In [ ]:
new_df = pd.read_excel('fb_nov.xlsx', index_col=0)
new_df

               Open     High      Low   Close    Volume
Date
2019-11-29  201.600  203.800  201.210  201.64   7985231
2019-11-27  199.900  203.140  199.420  202.00  12729462
2019-11-26  200.000  200.150  198.039  198.97  11748664
2019-11-25  199.515  200.970  199.250  199.79  15286442
2019-11-22  198.380  199.300  197.620  198.82   9959817
2019-11-21  197.420  199.090  196.860  197.93  12130985
2019-11-20  198.580  199.590  195.430  197.51  12370240
2019-11-19  197.400  200.000  196.860  199.32  19070291
2019-11-18  194.560  198.630  193.050  197.40  16176107
2019-11-15  194.260  195.300  193.380  195.10  11530232
2019-11-14  192.930  194.030  191.450  193.15   9059897
2019-11-13  194.700  195.700  192.740  193.19  11009800
2019-11-12  190.000  195.060  189.740  194.47  17615454
2019-11-11  189.930  190.080  188.540  189.61   8637768
2019-11-08  190.000  192.340  189.700  190.84  10764784
2019-11-07  191.910  193.440  189.470  190.42  13472998
2019-11-06  194.030  194.370  191.350  191.55  10973019
2019-11-05  195.370  195.750  193.600  194.32   9941954
2019-11-04  194.550  197.367  193.812  194.72  16371292
2019-11-01  192.850  194.110  189.910  193.62  21711829

### <a name='a4'></a> London Bike Dataset

In [ ]:
df = pd.read_csv('london_bike.csv')
df.head()

             timestamp  cnt   t1  ...  is_holiday  is_weekend  season
0  2015-01-04 00:00:00  182  3.0  ...         0.0         1.0     3.0
1  2015-01-04 01:00:00  138  3.0  ...         0.0         1.0     3.0
2  2015-01-04 02:00:00  134  2.5  ...         0.0         1.0     3.0
3  2015-01-04 03:00:00   72  2.0  ...         0.0         1.0     3.0
4  2015-01-04 04:00:00   47  2.0  ...         0.0         1.0     3.0

[5 rows x 10 columns]

In [ ]:
df = df.set_index('timestamp')
df.head()

                     cnt   t1   t2  ...  is_holiday  is_weekend  season
timestamp                           ...
2015-01-04 00:00:00  182  3.0  2.0  ...         0.0         1.0     3.0
2015-01-04 01:00:00  138  3.0  2.5  ...         0.0         1.0     3.0
2015-01-04 02:00:00  134  2.5  2.5  ...         0.0         1.0     3.0
2015-01-04 03:00:00   72  2.0  2.0  ...         0.0         1.0     3.0
2015-01-04 04:00:00   47  2.0  0.0  ...         0.0         1.0     3.0

[5 rows x 9 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
timestamp       17414 non-null object
cnt             17414 non-null int64
t1              17414 non-null float64
t2              17414 non-null float64
hum             17414 non-null float64
wind_speed      17414 non-null float64
weather_code    17414 non-null float64
is_holiday      17414 non-null float64
is_weekend      17414 non-null float64
season          17414 non-null float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB